.container {
  margin: 10px;
  padding: 10px;
 margin-top: 2rem;
}
.container .random {
  background-color: purple;
  color: white;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}
.titleName {
  padding: 0.5rem;
  background-color: purple;
  color: white;
  border-radius: 5px;
}
.items {
  display: flex;
  justify-content: space-evenly;
  gap: 2.5rem;
  margin: 10px;
  padding: 10px;
  
}
.imgs {
  width: 50%;
  height: 60%;
}
.selected_image {
  border: 2px solid purple;
}
.btn {
  background-color: purple;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}
.btn-disable {
  background-color: rgb(229, 194, 229);
  color: white;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}
.card-content {
  margin: 0 40px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
  width: 200px;
  height: 260px;
  /* text-align: center; */
  /* border :2px solid black; */
}
.card-image-content {
  position: relative;
  row-gap: 5px;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(229, 194, 229);
  border-radius: 25px 25px 0 25px;
}
.card-overlay::before, .card-overlay:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  height: 20px;
  width: 20px;
  background-color: rgb(229, 194, 229);
}
.card-overlay:after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image-content, .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #fff;
  padding: 15px;
  align-items: center;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  position: relative;
  top: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.description {
  position: relative;
  top: -35px;
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.vote {
  position: relative;
  top: 75px;
  margin-top: 3px;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 4px 8px;
  background-color: rgb(229, 194, 229);
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.vote:hover:before {
  content: 'Select ';
}
.vote:ater{
  content: '';
}
.vote:hover{
  background-color: purple;
}

.voted {
  background-color: purple;
}

.list {
  color: red;
}